/*Display*/

/* 

        ul, li{
            display: inline;
        }   

*/

/*Position*/

div.static{
    position: static;
    border: 3px solid; color:#3f21ad
}

div.relative{
    position: relative;
    left: 30px;
    border: 3px solid color(#3f21ad);
}

div.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px, solid #3f21ad;
}

div.relative{
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px, solid #3f21ad;
}

/*Z-index*/

    /*  A propriedade z-index permite alterar a ordem de empilhamentos dos elementos, porém só funciona com elementos que possuem a propriedade position  */