body{
    background: #D3D3BC url(img/fundo.png);
    font: 16px Arial, Helvetica, sans-serif;
        
}

#principal{
    width: 900px;
   
}

#menu{
    background-color: #c5c5b2;
    padding: 18px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}


a{
    color: #4b566a;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

.centralizar{
    text-align: center;
}

