/*@charset "UTF-8"; (Padrão Config CSS*/
@charset "UTF-8"; 

/*Import das fontes do site*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root { /*Configuração para usar mais de uma fonte no site*/
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{ 
    margin: 0px; /*Resetar Configuração dos elementos da página*/
    padding: 0px;
}

html, body {
        min-height: 100vh; /*Tamanho minímo do HTML e do Body 100%ViewPortHeight*/
        background-color: darkgray;
        font-family: var(--fonte1);

}

header { /*Cabeçalho do Site*/
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 { /*Texto do Cabeçalho*/
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4em;
    font-size: 10vw;
}

header > p { /*Pará grafo do Cabeçalho*/
    padding-bottom: 50px;
}

header a, footer a {                         
    text-decoration: none;
    color: white;          /*Links do Site*/
    font-weight: bolder;
}

header a:hover, footer a:hover   {  /*Links do Site ( Decoração) */
    text-decoration: underline;
}

section {  /*Configuração da caixa que está os textos e imagens do site*/
    padding-top: 10vh;
    padding-bottom: 10vh; 
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2vw;
}

section.normal { /*Seção com somente texto*/
    background-color: white;
    color: black;
}

section.imagem { /*Seção com imagem */
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p { /*Caixa que está o texto da imagem */
    background-color: black;
    color: white;
    width: 400px;
    display: inline-block;
    padding: 5px;
}

footer { /*Rodapé do site*/
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}




