/*Dimensionamento - Sintexe
    .div{
        width: 400px;
        height: 200px;
        border: 1px solid red;
        box-sizing: border-box;
    }
*/

/*Exemplo1

    .div1{
        width: 400px;
        height: 200px;
        border: 1px solid red;
        box-sizing: border-box;
    }

    .div2{
        width: 400px;
        height: 200px;
        padding: 30px;
        border: 1px solid blue;   
    }

*/

/*Variáveis*/

/*Variáveis-Sintaxe
    :root{
        --dourado: #DEB44B;
        --branco: #ffffff;
    }

    body{
        background-color: var(--dourado);
    }

    h2 {
        border-bottom: 2px solid var(--dourado);
    }

    .container {
        color: var(--dourado);
        background-color: var(--branco);
        padding: 15px;
    }

    button{
        background-color: var(--branco);
        color: var(--dourado);
        border: 1px solid var(--dourado);
        padding: 5px;
    }
*/

/*Formatação com imagens*/
    img{
        border-radius: 10px;
        opacity: 0.5;
        border-radius: 50%;
        display: block;
        margin: auto;
    }